

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .phone-product {
        width: 50% !important;
    }
    .buy-btn{
        padding: 2px 12px !important;
        font-size: 10px;

    }
    .product-thumb .product-title{
        font-size: 14px !important;

    }
    .price span{
        font-size: 11px !important;
    }
}
